.container.about-container
	%section.padded-section
		.row.line_layout
			.col-md-4.image-col
				=image_tag 'speed.svg', class: 'line_layout_illustration img-responsive speed'
			.col-md-8.list-wrapper
				%h2.line_layout_title Speed
				%ul
					%li Everyday carry portland photo booth copper mug meditation, kickstarter dreamcatcher. Aesthetic neutra fap normcore, shoreditch health goth forage. 
					%li Mumblecore mlkshk brooklyn fap vice. Copper mug fap chartreuse air plant, seitan umami vexillologist neutra readymade lomo slow-carb photo booth 90's.
					%li Sriracha four dollar toast. Kitsch slow-carb vinyl, literally godard hammock art party. Pour-over fashion axe jean shorts, brunch quinoa pinterest 
					%li neutra beard crucifix chicharrones. Readymade hashtag kombucha, taxidermy ethical tattooed vegan pickled.
	%section.padded-section
		.row.line_layout
			.col-md-8.list-wrapper
				%h2.line_layout_title Quality
				%ul
					%li Organic vaporware snackwave neutra flexitarian intelligentsia. Pop-up brooklyn authentic migas la croix, raw denim PBR&B affogato hashtag fingerstache. 
					%li Subway tile gentrify artisan, whatever food truck craft beer farm-to-table readymade normcore beard flannel poke four loko brunch pug. La croix brooklyn 
					%li Drinking vinegar, williamsburg fashion axe snackwave swag viral etsy distillery. Jean shorts kombucha thundercats, cold-pressed fam hoodie venmo. Four 
					%li Loko tousled vinyl unicorn gastropub, blue bottle shabby chic. Direct trade tilde activated charcoal art party roof party microdosing, glossier green 
					%li Juice +1 YOLO church-key banjo pug butcher farm-to-table.
			.col-md-4
				=image_tag 'quality.svg', class: 'line_layout_illustration img-responsive quality'
	%section.padded-section
		.row.line_layout
			.col-md-4
				=image_tag 'trust.svg', class: 'line_layout_illustration img-responsive trust'

			.col-md-8.list-wrapper
				%h2.line_layout_title Trust
				%ul
					%li Everyday carry portland photo booth copper mug meditation, kickstarter dreamcatcher. Aesthetic neutra fap normcore, shoreditch health goth forage. 
					%li Mumblecore mlkshk brooklyn fap vice. Copper mug fap chartreuse air plant, seitan umami vexillologist neutra readymade lomo slow-carb photo booth 90's.
					%li Sriracha four dollar toast. Kitsch slow-carb vinyl, literally godard hammock art party. Pour-over fashion axe jean shorts, brunch quinoa pinterest 
					%li neutra beard crucifix chicharrones. Readymade hashtag kombucha, taxidermy ethical tattooed vegan pickled.
	%section.padded-section
		.row.line_layout
			.col-md-8.list-wrapper
				%h2.line_layout_title Expirience
				%ul
					%li Organic vaporware snackwave neutra flexitarian intelligentsia. Pop-up brooklyn authentic migas la croix, raw denim PBR&B affogato hashtag fingerstache. 
					%li Subway tile gentrify artisan, whatever food truck craft beer farm-to-table readymade normcore beard flannel poke four loko brunch pug. La croix brooklyn 
					%li Drinking vinegar, williamsburg fashion axe snackwave swag viral etsy distillery. Jean shorts kombucha thundercats, cold-pressed fam hoodie venmo. Four 
					%li Loko tousled vinyl unicorn gastropub, blue bottle shabby chic. Direct trade tilde activated charcoal art party roof party microdosing, glossier green 
					%li Juice +1 YOLO church-key banjo pug butcher farm-to-table.
			.col-md-4
				=image_tag 'experience.svg', class: 'line_layout_illustration img-responsive experience'
				
