%section.gallery-content
	.row
		.col-md-8.col-md-offset-2
			#pics.transitions-enabled
				- @pictures.each do |picture|
					.box
						= link_to image_tag(picture.image.url(:medium)), image_path(picture.image.url), :'data-lightbox' => 'example-set'
					
					