%section
	.row
		.col-md-8.col-md-offset-2
			%h1 Edit product
			.row
				.col-md-8
					= simple_form_for [:admin, @product] do |f|
						= f.input :title
						= f.input :description
						= f.button :submit, 'Add product'