@import 'colors_and_fonts';

@mixin transform-translate($x,$y){
	-ms-transform : translate($x,$y);
	-webkit-transform: translate($x,$y);
	transform: translate($x,$y);
}

.about-container{
	//padding-bottom: 60px;	
}

.line_layout{
	border-bottom-width: 1px;

	.line_layout_title{
		margin-bottom:40px;
		font-size: 30px;
		color: $second-color;
	}

	ul{
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		li{
			position: relative;
			padding-left:40px;
			font-size: 16px;
			line-height: 25px;
			color: #515151;

			&:before{
				position:absolute;
				left:0;
    			display: -webkit-flex;
    			display: flex;
    			display: -ms-flexbox;
    			-webkit-justify-content: center;
   				justify-content: center;
   				-webkit-align-items: center;
    			align-items: center;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: $main-color;
				content: '\f00c';
   				font-family: FontAwesome;
    			font-size: 14px;
    			color: $white;
			}
		}
	}
}

.line_layout_illustration{
	margin: 0 auto;
	width:200px;
}

.speed, .trust, .experience, .quality{
	@include transform-translate(0,50%);
}
