@import 'colors_and_fonts';

*, :after, :before{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body{
	font-family: $roboto;
}

.container-inner{
	padding: 30px 0;
}

.center-text{
	margin: 0 auto;
	text-align: center;
}
.padded-section{
	padding: 60px 0;
}

.first-row{
	margin-top:60px;
	//margin-bottom: 60px;
}


/* site-footer */

.site-footer{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: $main-color;
	color: $white;

	.c-footer__header{
		text-transform: uppercase;
	}

	.c-footer__list{
		padding: 0;
		list-style: none;
		font-weight: 300;
		line-height: 30px;

	}

	a{
		color: $white;

		&:hover{
			text-decoration: none;
		}

		&:visited{
			color: $white;
		}
	}
}