!!!
%head
	%title Autocomplex
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700', media: 'all', 'data-turbolinks-track' => true
	//= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	#blueimp-gallery.blueimp-gallery
		.slides
		%h3.title
		%a.prev <
		%a.next <
		%a.close x
		%a.play-pause
		%ol.indicator

	%header
		=render partial: 'layouts/navigation'
	=bootstrap_flash
	%main
		.container-fluid			
			.row.wrapper-jumbotron
				.col-md-12				
					.jumbotron
						.container
							%h1.jumbotron-slogan-header 
								-if params[:controller] == 'ads' && params[:action] == 'index'
									We are hiring! 
								-if params[:controller] == 'static' && params[:action] == 'about'
									Great choose !!!
								-if params[:controller] == 'products' && params[:action] == 'show'	
									What can We do for You ?
								-if params[:controller] == 'contacts' && params[:action] == 'new'
									Contact with us!
								-if params[:controller] == 'pictures' && params[:action] == 'index'
									Galeria
			=yield
	%footer{:class => 'site-footer'}
		=render partial: 'layouts/footer'

	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 	